body {
  background-color: #f1f9f9;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  > div {
    width: 50%;
    padding: 10px;
  }

  .products {
    .real-products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      padding: 10px;
      margin-top: 25px;
      .product {
        background: #fff;
        padding: 12px;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15);
        * {
          margin: 0px;
        }

        div:first-of-type {
          flex-direction: row-reverse;
          align-items: center;
        }
        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;

          h4 {
            font-size: 27px;
          }

          p {
            font-size: 19px;
          }

          input {
            padding: 10px 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
          }

          button {
            padding: 8px;
            border: 1px solid rgb(48, 219, 91);
            border-radius: 3px;
            background-color: transparent;
            color: rgb(48, 219, 91);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
              background-color: rgb(48, 219, 91);
              color: #fff;
            }
          }
        }

        div:nth-child(2) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 6px;
        }
      }
    }
  }

  .products-added {
    position: relative;
    table {
      width: 100%;
      border-collapse: collapse;
            direction: rtl;
    }

    thead{
      tr{
        th{
            border: 1px solid rgba(0, 0, 0, 0.2);
            font-size: 16px;
            background: #f6f6f6;
            padding: 4px;
        }
      }
    }

    tbody{
      tr{
        td{
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px 0px;
            button {
              width: 60%;
              background:#fd5e53;
              border: 0px;
              color: #FFF;
              font-size: 16px;
              padding: 4px;
              cursor: pointer;
            }
        }
      }
    }

    th,
    td {
      text-align: center;

    }

    .send-order {
      width: 50%;
      padding: 10px;
      background: rgb(48, 219, 91);
      cursor: pointer;
      border: 0px;
      color: #fff;
      font-weight: 900;
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
        display: block;
        margin: auto;
        margin-top: 50px;
    }
  }
}
