body {
  background-color: #e1f2fb;
  font-family: "Cairo", Arial, Helvetica, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.back-login {
  width: 150px;
  padding: 12px;
  display: block;
  margin: 150px auto;
  border: 0px;
  background: #212121;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.real-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0px 10px;
  margin-top: 80px;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .product {
    background: #fff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    * {
      margin: 0px;
    }

    div:first-of-type {
      flex-direction: row-reverse;
      align-items: center;
    }
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      h4 {
        font-size: 27px;
      }

      p {
        font-size: 19px;
      }

      input {
        padding: 10px 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
      }

      button {
        padding: 8px;
        border: 1px solid rgb(48, 219, 91);
        border-radius: 3px;
        background-color: rgb(48, 219, 91);
        color: rgb(48, 219, 91);
        transition: all 0.3s;
        cursor: pointer;
        color: #fff;
        &:hover {
          background-color: rgb(48, 219, 91);
          color: #fff;
        }
      }
    }

    div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 6px;
    }
  }
}
