.admin {
  margin: 0px 10px;
}

.admin .navbar-admin {
  margin: 0px -10px;
  background-color: #212121;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin .navbar-admin > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px;
}

.admin .navbar-admin h5 {
  margin: 0px;
  color: #fff;
}

.admin .navbar-admin .logout-admin {
  background: #fd5e53;
  border: 0px;
  color: #fff;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.admin .navbar-admin .logout-admin:hover {
  opacity: 0.8;
}

.admin .navbar-admin .logout-admin svg {
  padding: 0px 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #fff;
}

.admin .cat-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  direction: rtl;
  margin-top: 21px;
}

.admin .cat-edit > div {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4px 6px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  direction: rtl;
}

.admin .cat-edit > div:hover {
  background-color: #eee;
  cursor: pointer;
}

.admin .cat-edit > div * {
  padding: 4px;
  margin: 0px 4px;
}

.admin .cat-edit > div svg:hover {
  color: #fd5e53;
}

.admin .cat-add {
  direction: rtl;
  margin: 4px;
  margin-top: 21px;
}

.admin .cat-add > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

@media (max-width: 600px) {
  .admin .cat-add > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .admin .cat-add > div * {
    margin-bottom: 10px;
  }
  .admin .cat-add > div button {
    margin-top: 10px;
  }
}

.admin .cat-add h4 {
  margin: 0px;
}

.admin .cat-add input {
  margin-left: 19px;
  padding: 6px;
  border: 0px;
  text-indent: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  outline: none;
}

.admin .cat-add button {
  width: 100px;
  background-color: #30d158;
  border: 0px;
  padding: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  color: #fff;
  cursor: pointer;
  font-weight: 800;
}

.admin .cat-add button:hover {
  opacity: 0.8;
}

.admin .orders {
  margin-top: 31px;
}

.admin .orders > div {
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 17px 12px;
  margin-bottom: 10px;
}

.admin .orders > div .order-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin .orders > div .order-header * {
  margin: 0px;
}

.admin .orders > div .order-header p {
  font-size: 12px;
}

.admin .orders > div table {
  width: 100%;
  background-color: #f1f1f1;
  direction: rtl;
  margin-top: 21px;
  border-collapse: collapse;
}

.admin .orders > div table th {
  background-color: #dfdfdf;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.admin .orders > div table tbody td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  text-align: center;
}

.admin .orders > div .buttons button {
  width: 130px;
  background: #fd5e53;
  border: 0px;
  color: #fff;
  font-size: 16px;
  padding: 6px;
  cursor: pointer;
  margin-top: 14px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  outline: none;
}

.admin .orders > div .buttons button:hover {
  opacity: 0.85;
}
/*# sourceMappingURL=Admin.css.map */